<div class="grid-container">
<div fxLayout.xs="column" fxLayout="row">


    <div fxFlex="0 1 calc(80% - 32px)">

        <div fxLayout="row">
            <form>
                <button mat-stroked-button type="submit" routerLink="/exercise">Go Back</button>
            </form>
            <form>
                <button mat-stroked-button (click)="openBottomSheet()">Recap</button>
            </form>
        </div>


            <div *ngFor="let num of card; let i=index">

                <mat-card class="mat-card-blue" fxFlex="0 1 100%" style="margin-top: 32px;">
                    <mat-card-content>

                        <div style="display:flex; justify-content: center; align-items: center">
                            <p>{{num.strice1}}</p>
                            <mat-form-field>


                                <mat-select [(ngModel)]="correct" (ngModelChange)="onChange(num)">
                                    <mat-option disabled selected></mat-option>
                                    <mat-option *ngFor="let entry of num.stressDist"
                                        [value]="assign(entry, num.accNoun)">
                                        {{entry}}
                                    </mat-option>

                                </mat-select>



                            </mat-form-field>
                            <p>{{num.strice2}}</p>
                        </div>

                        <div (mouseover)="displayInfo=true" (mouseout)="displayInfo=false">
                            <div *ngIf="displayInfo">
                                <p style="color:rgb(15, 51, 117);">Gender: {{num.gender}}; inflection:
                                    {{num.inflection}}; number: {{num.number}}; declension: {{getDecl(num.declension)}}
                                </p>
                            </div>
                            <div *ngIf="!displayInfo">
                                <p>Hint</p>
                            </div>
                        </div>

                        <div (mouseover)="displayEng=true" (mouseout)="displayEng=false">
                            <div *ngIf="displayEng">
                                <p style="color:orange;">{{num.english}}</p>
                            </div>
                            <div *ngIf="!displayEng">
                                <p>English Translation</p>
                            </div>
                        </div>

                    </mat-card-content>
                    <div *ngIf="correct==1">
                        <mat-card-footer [style.background]="'white'" [style.color]="'yellowgreen'">Correct!
                        </mat-card-footer>
                    </div>
                    <div *ngIf="correct==0">
                        <mat-card-footer [style.background]="'white'" [style.color]="'red'">Incorrect!</mat-card-footer>
                    </div>

                </mat-card>



            </div>

        

    </div>

    <div fxFlex="0 1 calc(25% - 32px)">

        <app-progress [numNow]="score" [overall]="update"></app-progress>
    </div>


</div>
</div>