<div class="grid-container">
    <div fxLayout.xs="column" fxLayout="row">




        <div fxFlex="0 1 calc(80% - 32px)">

            <div fxLayout="row">
                <form>
                    <button mat-stroked-button type="submit" routerLink="/exercise">Go Back</button>
                </form>
                <form>
                    <button mat-stroked-button (click)="openBottomSheet()">Recap</button>
                </form>
            </div>

            <div *ngIf="decl">

                <div class="centreIn">
                    <div fxLayout="row">
                        <form (click)="mult = true; fib = false">
                            <button mat-stroked-button type="submit">Select Correct Answer</button>
                        </form>

                        <form (click)="mult = false; fib = true">
                            <button mat-stroked-button type="submit">Type In Correct Answer</button>
                        </form>
                    </div>
                </div>



                <div *ngIf="mult">
                    <h1 class="mat-h1">
                        <div class="centreIn">
                            <p>Select the correct inflection</p>
                        </div>
                    </h1>
                    <div>
                        <mat-card class="mat-card-blue" fxFlex="0 1 100%">
                            <mat-card-content>

                                <div style="display:flex; justify-content: center; align-items: center">
                                    <p>{{card.slice1}}</p>
                                    <mat-form-field>
                                        <mat-select [(ngModel)]="correct" (ngModelChange)="onChangeDecl(card)">
                                            <mat-option disabled selected></mat-option>
                                            <mat-option *ngFor="let entry of card.nounDist"
                                                [value]="assign(entry, card.noun)">
                                                {{entry}}
                                            </mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                    <p>{{card.slice2}}</p>
                                </div>

                                <div (mouseover)="displayInfo=true" (mouseout)="displayInfo=false">
                                    <div *ngIf="displayInfo">
                                        <p style="color:rgb(15, 51, 117);">Gender: {{card.gender}};
                                            inflection: {{card.inflection}}; number: {{card.number}}; declension:
                                            {{getDecl(card.declension)}}</p>
                                    </div>
                                    <div *ngIf="!displayInfo">
                                        <p>Hint</p>
                                    </div>
                                </div>

                                <div (mouseover)="displayEng=true" (mouseout)="displayEng=false">
                                    <div *ngIf="displayEng">
                                        <p style="color:orange;">{{card.english}}</p>
                                    </div>
                                    <div *ngIf="!displayEng">
                                        <p>English Translation</p>
                                    </div>
                                </div>
                            </mat-card-content>

                            <div *ngIf="correct==1">
                                <mat-card-footer [style.background]="'white'" [style.color]="'yellowgreen'">Correct!
                                </mat-card-footer>
                            </div>
                            <div *ngIf="correct==0">
                                <mat-card-footer [style.background]="'white'" [style.color]="'red'">Incorrect!
                                </mat-card-footer>
                            </div>

                        </mat-card>
                    </div>
                </div>



                <div *ngIf="fib">
                    <h1 class="mat-h1">
                        <div class="centreIn">
                            <p>Type in the correct inflection</p>
                        </div>
                    </h1>
                    <div>
                        <mat-card class="mat-card-blue" fxFlex="0 1 100%">
                            <mat-card-content>

                                <div style="display:flex; justify-content: center; align-items: center">
                                    <p>{{card.slice1}} </p>
                                    <mat-form-field>
                                        <mat-label>{{card.lemma}}</mat-label>
                                        <input matInput maxlength="30" [(ngModel)]="answer">
                                        <mat-error *ngIf="answer!=card.noun">Try again!</mat-error>
                                    </mat-form-field>
                                    <p> {{card.slice2}}</p>
                                </div>


                                <div style="display:flex; justify-content:right;">
                                    <button mat-stroked-button (click)="onSubmit(card.noun, card)">Submit</button>
                                </div>


                                <div *ngIf="displayAnswer">
                                    <div style="display:flex; justify-content:right;">
                                        <div (mouseover)="show=true">
                                            <div *ngIf="show">
                                                <p style="color:rgb(73, 43, 209);">{{card.noun}}</p>
                                            </div>
                                            <div *ngIf="!show">
                                                <p style="color:rgb(226, 59, 30);">Answer</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div (mouseover)="displayInfo=true" (mouseout)="displayInfo=false">
                                    <div *ngIf="displayInfo">
                                        <p style="color:rgb(15, 51, 117);">Gender: {{card.gender}};
                                            inflection: {{card.inflection}}; number: {{card.number}}; declension:
                                            {{getDecl(card.declension)}}</p>
                                    </div>
                                    <div *ngIf="!displayInfo">
                                        <p>Hint</p>
                                    </div>
                                </div>

                                <div (mouseover)="displayEng=true" (mouseout)="displayEng=false">
                                    <div *ngIf="displayEng">
                                        <p style="color:orange;">{{card.english}}</p>
                                    </div>
                                    <div *ngIf="!displayEng">
                                        <p>English Translation</p>
                                    </div>
                                </div>


                            </mat-card-content>
                            <div *ngIf="correct==1">
                                <mat-card-footer [style.background]="'white'" [style.color]="'yellowgreen'">Correct!
                                </mat-card-footer>
                            </div>
                            <div *ngIf="correct==0">
                                <mat-card-footer [style.background]="'white'" [style.color]="'red'">Incorrect!
                                </mat-card-footer>
                            </div>
                        </mat-card>
                    </div>
                </div>





            </div>





            <div *ngIf="stress">

                <h1 class="mat-h1">
                    <div class="centreIn">
                        <p>Select the correctly stressed form</p>
                    </div>
                </h1>
                <div>
                    <mat-card class="mat-card-blue" fxFlex="0 1 100%">
                        <mat-card-content>
                            <div style="display:flex; justify-content: center; align-items: center">
                                <p>{{card.strice1}}</p>
                                <mat-form-field>
                                    <mat-select [(ngModel)]="correct" (ngModelChange)="onChangeStress(card)">
                                        <mat-option disabled selected></mat-option>
                                        <mat-option *ngFor="let entry of card.stressDist"
                                            [value]="assign(entry, card.accNoun)">
                                            {{entry}}
                                        </mat-option>
                                    </mat-select>
                                </mat-form-field>
                                <p>{{card.strice2}}</p>
                            </div>


                            <div (mouseover)="displayInfo=true" (mouseout)="displayInfo=false">
                                <div *ngIf="displayInfo">
                                    <p style="color:rgb(15, 51, 117);">Gender: {{card.gender}}, inflection:
                                        {{card.inflection}}, number: {{card.number}}, declension:
                                        {{getDecl(card.declension)}}</p>
                                </div>
                                <div *ngIf="!displayInfo">
                                    <p>Hint</p>
                                </div>
                            </div>

                            <div (mouseover)="displayEng=true" (mouseout)="displayEng=false">
                                <div *ngIf="displayEng">
                                    <p style="color:orange;">{{card.english}}</p>
                                </div>
                                <div *ngIf="!displayEng">
                                    <p>English Translation</p>
                                </div>
                            </div>

                        </mat-card-content>
                        <div *ngIf="correct==1">
                            <mat-card-footer [style.background]="'white'" [style.color]="'yellowgreen'">Correct!
                            </mat-card-footer>
                        </div>
                        <div *ngIf="correct==0">
                            <mat-card-footer [style.background]="'white'" [style.color]="'red'">Incorrect!
                            </mat-card-footer>
                        </div>

                    </mat-card>
                </div>
            </div>


        </div>

        <div fxFlex="0 1 calc(25% - 32px)">

            <app-progress [numNow]="score" [overall]="update"></app-progress>

        </div>

    </div>
</div>